h1 {
    font-size: 25px;
    background-color: #606060;
    font-weight: bold;
    text-align: center;
    line-height: 2.5;
    color: #FFFFFF;
}

h2 {
    font-size: 25px;
    background-color: #000000;
    font-weight: bold;
    text-align: center;
    line-height: 1.5;
    color: #FFFFFF;
}

p {
    max-width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

main {
    background-color: #efefef;
}

.center {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.checked {
    color: orange;
}